<form action="/admin" method="post">
  <label for=""> Name</label>  <input type="text" name="name"><br>
  <label for=""> Description</label>   <input type="text" name="description"><br>
  <label for=""> Duration</label>  <input type="text" name="duration"><br>
  <label for=""> difficulty</label>  <input type="text" name="difficulty"><br>
  <label for="">group size</label>  <input type="text" name="grpsize"><br>
    <input type="submit">
</form>