<form action="/admin" method="post">
    <input type="text" name="name">
    <input type="text" name="description">
    <input type="text" name="duration">
    <input type="text" name="difficulty">
    <input type="text" name="grpsize">
    <input type="submit">
</form>